@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: black;
}

main {
    width: 90%;
    margin: 0 auto;
    padding: 0 auto;
}

.navbar-dark {
    background-color: #242429;
    
}

.aktif {
    color: purple;
    font-weight: bold;
}

.navbar-brand {
    margin-left: 70px;
}

.collapse {
    margin-right: 70px;
}

.nav-item {
    margin-left: 20px;
}

.content {
    margin-top: 30px;
}

.card {
    margin: 10px auto;
    background-color: #242429;
    color: white;
    padding: 0px 0px;
    height: 450px;
    width: 100%;
}

.card:hover {
    outline: none !important;
    /* border:1px solid purple; */
    box-shadow: 0 0 60px #4c4c50;
}


.the-movie img {
    height: 300px;
    width: 100%;
    position: absolute;
}

.rating {
    text-align: center;
    background-color: black;
    border: 2px solid purple;
    padding-top: 4px;
    width: 40px;
    font-size: 12px;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 285px;
}

.the-movie h6{
    left: 20px;
    top: 320px;
    position: relative;
    margin-right: 20px;
}

.the-movie p {
    position: relative;
    font-size: 10px;
    font-weight: lighter;
    left: 20px;
    margin-top: 320px;
    color: grey;
}

.movie-button {
    position: absolute;
    top: 90%;
    right: 20px;
}

.movie-button button {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(107, 8, 107);
    padding: 5px;
    color: white;
    font-size: 12px;
    margin-right: 10px;
}

.movie-button button:hover {
    outline: none !important;
    box-shadow: 0 0 60px purple;
}

.low-rate {
    border: 2px solid rgb(233, 49, 49);
}

.med-rate {
    border: 2px solid rgb(212, 212, 74);
}

.high-rate {
    border: 2px solid rgb(18, 153, 18);
}


.modal-class {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 20px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .close-container {
    margin: auto; 
    width:945px
  }

  /* Modal Content */
  .modal-trailer-content {
    background-color: black;
    margin: auto;
    border: 1px solid #888;
    width: 945px;
    height: 531px;
  }

  .modal-detail-content {
    margin: auto;
    border: 1px solid #888;
    width: 100%;
    height: 531px;
  }
  
  .close-modal {
    color: white;
    margin-left: 95%;
    font-size: 28px;
    font-weight: bold;

  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: #4c4c50;
    text-decoration: none;
    cursor: pointer;
  }

.video {
    width: 100%;
    height: 100%
}
.layer {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.desc {
    color: white;
    margin: 70px 20px;
    position: relative;
}


svg{
    position: relative;
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
}

svg circle{
    width: 20%;
    height: 20%;
    fill: none;
    stroke-width: 10;
    stroke: purple;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%, 100%
    {
        stroke-dashoffset: 440;
    }
    50%
    {
        stroke-dashoffset: 0;
    }
    50.1%
    {
        stroke-dashoffset: 880;
    }
}

@media screen and (max-width: 1000px){


    .navbar-brand {
        margin-left: 0px;
    }

    .nav-item {
        margin-left: 0px;
    }

    .modalClass {
        margin-top: 50px;
    }

    .close-container {
        width: 100%;
    }

    .modal-content {
        width: 100%;
        height: 350px;
    }

    .modal-trailer-content {
        width: 100%;
        height: 350px;
    }

    .desc{ margin-top :10px}

    
}